
  .bg {
  background-image: url("https://images4.alphacoders.com/835/83504.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  }


  
 
