
  .bg {
  background-image: url("https://wallpaperplay.com/walls/full/4/4/9/120458.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  }
 
